<%= render "shared/header" %>
<p id="notice"><%= notice %></p>

<%= form_with(model: @menu, local: true) do |form| %>

  <div class="time">
    <div class="form-tag">日付</div>
    <%= form.date_select :start_time %>
  </div>

<%#= form.collection_select :dish_id, Dish.all, :id, :dish, include_blank: "選択して下さい" %>

  <select name ="menu[dish_ids][]">
    <option value="">登録する料理を選んでください</option>
    <% Dish.all.each do |dish| %>
      <option value=<%= dish.id %>><%= dish.dish %></option>
    <% end %>
  </select>
  <select name ="menu[dish_ids][]">
    <option value="">登録する料理を選んでください</option>
    <% Dish.all.each do |dish| %>
      <option value=<%= dish.id %>><%= dish.dish %></option>
    <% end %>
  </select>
  <select name ="menu[dish_ids][]">
    <option value="">登録する料理を選んでください</option>
    <% Dish.all.each do |dish| %>
      <option value=<%= dish.id %>><%= dish.dish %></option>
    <% end %>
  </select>


 <div class="submit">
    <%= form.submit %>
 </div>
<% end %>

<%= month_calendar events: @menus do |date, menus| %>
  <%= date.day %>

  <% menus.each do |menu| %>
    <div>
      <%= link_to menu.dish, menu %>  <%# menu.titleを変更する %>
    </div>
  <% end %>
<% end %>
