<%= render "shared/header" %>
<p id="notice"><%= notice %></p>

<%= month_calendar events: @menus do |date, menus| %>
  <%= date.day %>

  <% menus.each do |menu| %>
    <div>
      <%= link_to menu.title, menu %>
    </div>
  <% end %>
<% end %>