<%= form_with model: @dish, local: true do |f| %>
  <div class="dish-box">
    <h3>登録済み　料理　編集</h3>

    <%= render 'shared/error_messages', model: f.object %>
    <%= link_to "削除", dish_path(@dish.id), data: {turbo_method: :delete}, class:"dish-destroy" %>
    
    <div>カテゴリー
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
    </div>
    <%= f.text_field :dish, class:"title", placeholder:"料理名" %>
    <%= f.text_area :remark, class:"text", placeholder:"メモ" %>
    <%= f.submit "変更する" ,class:"btn" %>
    <%=link_to 'もどる', dishes_path, class:"back-btn" %>
  </div>
<% end %>